* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__main {
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    width: 330px;
    min-height: 500px;
    max-height: 700px;
    margin: 0 30px;
}

.container__img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -105px;
}

.img {
    width: 100%;
    filter: drop-shadow(0px 27px 0px hsla(240, 73%, 65%, 0.089));
}

.container__content {
    padding: 30px 15px;
    font-family: 'Kumbh Sans';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.title {
    text-align: center;
    margin: 20px 0;
}

.contsiner__question {
    font-size: .75rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: hsl(240, 6%, 50%);
}

.question__reply {
    padding-right: 0px;
}

.question {
    font-weight: 400;
    transition: .2s;
}

.question:hover {
    color: hsl(14, 88%, 65%);
    cursor: pointer;
}

.question, .icono__arrow {
    padding: 15px 0;
}

.reply {
    padding-bottom: 10px;
    display: block;
    color: hsl(0, 0%, 65%);
    font-weight: lighter;
    font-size: .75rem;
    padding-right: 40px;
}

.line {
    border: none;
    border-top: 1px solid hsl(240, 5%, 91%);
}

/*--------------JVSCRIPT-------------*/
.mostrar {
    display: none;
}

.voltear {
    transform: rotate(180deg);
}

.oscuro {
    font-weight: bold;
}

@media only screen and (min-width: 1080px) {
    .container__main {
        width: 450px;
    }
}